{{#if groups}}
<section class="tsd-panel-group tsd-index-group">
    <section class="tsd-panel tsd-index-panel">
        <div class="tsd-index-content">
            {{#each groups}}
                <section class="tsd-index-section {{cssClasses}}">
                    <h3>{{title}}</h3>
                    {{> index.children}}
                </section>
            {{/each}}
        </div>
    </section>
</section>
{{/if}}